#airdrop_section {
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/images/airdrop_bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
}

// @media screen and (max-width: 600px) {
    
// }

.airdrop_welcome {
    .aircoin_title {
        font-size: 40px;
        max-width: 497px;
        width: 100%;
        font-weight: bold;
    }

    .welcome_text {
        font-size: 21px;
        width: 375px;
        max-width: 100%;
        color: #757a84;
    }
}

.radio_btn {
    width: 19px;
    height: 19px;
    border: 2px solid #8ac760;
    border-radius: 90px;
    margin-right: 20px;
}

.task_text {
    font-size: 16px;
    color: #757a84;
}


.w_400 {
    width: 400px;
}