.ico_title {
    font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 48px;
/* or 107% */

text-align: center;
letter-spacing: -0.5px;

/* new black */

color: #131618;
}

.subText {
    color: #4F7337;
}

.submit_btn {
    background-color: #5063D9;
}

.max_600 {
    width: 600px;
    max-width: 90%;
}

.form_input {
    background-color: #4F7337;
    color: #FFF;
}


.stepper_header {
    min-height: 105px;
    background-color: #F9FFFA;
    border-radius: 24px 24px 0px 0px;
}

.line {
    border: 1px solid #B5BBC9;
    position: absolute;
    right: 60px;
    left: 80px;
    top: 38px
}

.download_app {
    img {
        max-height: 45px;
        width: 13vw;
        max-width: 140px;
    }
}

.modal_white_inner::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .modal_white_inner {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .modal_white_inner {
    min-height: 500px;
    max-height: 70vh;
    max-width: 500px;
    overflow: auto;
}

  .modal_cancel_container {
    min-height: 40px;
    max-height: 10vh;
    width: 70vw;
    max-width: 600px;

    img {
        height: 21px;
        width: 21px;
    }
}