@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: aileron, sans-serif !important;
}

* {
    font-family: aileron, sans-serif !important;
}
.roboto {
    font-family: Roboto, sans-serif !important;
}

.developer_network_icon {
    width: 55px;
    height: 55px;
}

.m_0 {
    margin: 0 !important;
}

.text_lids_green {
    color: #8bc860;
}
.text_lids_green_second {
    color: #8ac760;
}

.text_lids_gray {
    color: #aeaeae;
}
.text_form_gray {
    color: #757A84;
}

.bg_light_green {
    background-color: #F9FFFA;
}

.bg_lids_green {
    background-color: #8bc860;
}
.bg_stepper_gray {
    background-color: #B5BBC9;
}
.text_stepper_gray {
    color: #B5BBC9;
}
.bg_lids_green_light {
    background-color: #8ac760;
}
.text_lids_green_deep {
    color: #3d9915;
}
.bg_lids_green_deep {
    background-color: #3d9915;
}
.mr_60 {
    margin-right: 40px;
}
.bg_lids_gray {
    background-color: #f6f6f6; //#fbfbfb;
}
.bg_lids_white {
    background-color: #fbfffb;
}
.text_lids_white {
    color: #fbfffb;
}

.lids_black_bg {
    background-color: #131618;
}

.h-260 {
    min-height: 260px;
}

.top_title {
    font-family: Aileron;
    // line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    // max-width: 423px;
}

.createdReason {
    font-family: Aileron;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.text_size_40 {
    font-size: 40px;
    line-height: 42px;
}
.text_size_35 {
    font-size: 35px;
    line-height: 42px;
}
.text_size_30 {
    // font-weight: 600;
    font-size: 21px;
    line-height: 24px;
}

.nav_style {
    background: #ffffff;
    img {
        height: 31px;
        width: 27px;
        top: 15px;
        border-radius: 0px;
    }
}

// small
@media screen and (max-width: 600px) {
    .nav_style {
        height: 61px;
    }

    .developer_img {
        min-width: 43px;
        min-height: 29px;
    }

    .white_paper_book {
        min-height: 55px;
        min-width: 46px;
    }

    .createdReason {
        font-size: 40px;
        line-height: 48px;
    }
    .nav_style img {
        margin-left: 30px;
    }
    .top_img {
        width: 470px;
    }
    #description {
        height: 300px;
        h1 {
            font-size: 40px;
            line-height: 49px;
        }
    }
}

// larger
@media screen and (min-width: 600px) {
    .nav_style {
        height: 85px;
    }

    .developer_img {
        min-width: 436px;
        min-height: 294px;
    }

    .white_paper_book {
        min-height: 551px;
        min-width: 467px;
    }

    .createdReason {
        font-size: 65px;
        line-height: 78px;
    }
    .nav_style img {
        margin-left: 50px;
    }
    .top_img {
        min-height: 470px;
        min-width: 470px;
    }
    #description {
        height: 393px;
        h1 {
            font-size: 65px;
            line-height: 78px;
        }
    }
}


.white_paper_p {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
}

.white_paper_title {
    min-height: 380px;
    background-image: url("./assets/images/white_paper-first_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#top_section {
    min-height: 800px;
    background-image: url("./assets/images/first_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    font-family: Aileron;
    font-style: normal;
    font-weight: normal;
}

.about_card {
    min-width: 229px;
    height: 470px;
    background: #ffffff;
    box-shadow: 0px 2px 65px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.developer_link {
    width: 127px;
    p {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #5063d9;
    }
}

.white_paper_link {
    min-width: 214px;
    border-bottom: 3px solid #8ac760;
}

.api_box {
    width: 585px;
    height: 203px;
    top: 1376px;
    background: #1a1a1a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer_section {
    min-width: 848px;
    min-height: 476px;
}

.white_paper_text {
    line-height: 65px;
    color: #262626;
}
.text-black {
    color: #262626 !important;
}
.text-about {
    color: #565555;
}

.nav_text {
    color: #3D9915;
    font-size: 16px;
}

.shop_btn {
    height: 42px;
    width: 144px;
    background-color: #8AC760;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dils_logo {
    height: 25px;
    width: 74px;
}

.justify_end {
    justify-content: flex-end;
}

input:focus, button:focus, select:focus{
    outline: none;
}

.border_outline_green {
   border: 1px solid #8AC760;
   border-radius: 90px;
}




.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 3px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(138,199,96, 0.2);
  border-right: 1.1em solid rgba(138,199,96, 0.2);
  border-bottom: 1.1em solid rgba(138,199,96, 0.2);
  border-left: 1.1em solid #8ac760;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.continue_btn {    
    min-width: 100px;
    padding: 0 20px;
    height: 41px;
    background: #8ac760;
    border-radius: 45px;
    color: white;
}